html,body{
  height: 100%;
  width: auto;
  margin: 0px;
  padding: 0px;
  cursor: default;
}


#navbar{
  overflow: hidden;
  background-color: #ba283b;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  padding: 33px 70px;
  top: 0;
  z-index: 99;
  vertical-align: baseline;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 4px solid black;
}

#title_navbar{
  grid-column: 1;
  font-size: 32px;
  color: white;
  background-color: transparent;
  text-align: left;
}

#navMenu{
  grid-column: 2;
  text-align: right;
  float:right;
  margin: auto;
  width: 100%;
  background-color: transparent;
}

#navMenu a{
  float: left;
  color: black;
  background-color: #ddd;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 24px;
  line-height: 25px;
  border-radius: 8px;
  margin-left: 15px;
  vertical-align: baseline;
}

#navMenu a:hover {
  color: #ddd;
  background-color: black;
}

#navMenu a.active {
  background-color: dodgerblue;
  color: white;
}

#content{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-rows: 0.12fr 0.90fr;
  grid-template-columns: 1fr 1fr;
}

#top_separator{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#intro{
  height: auto;
  width: auto;
  grid-column: 1;
  grid-row: 2;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 20px;
}

#intro a{
  color: #ba283b;
}

#intro a:hover{
  color:aqua;
  cursor: pointer;
}

#mapa {
  height: auto;
  width: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 70px;
  padding: 0px;
  grid-row: 2;
  grid-column: 2;
  border: 6px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 0.02fr;
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  grid-row: 1;
}

#map_options{
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  grid-row: 2;
  padding-top: 5px;
  display: flex;
}
#map_options div{
  margin-right: 8px;
  cursor: pointer;
}
#map_options input{
  display: inline-block;
  cursor: pointer;
}
#map_options label{
  cursor: pointer;
}

.info{
padding: 6px 8px;
font: 14px/16px Trebuchet MS;
background: white;
background: rgba(255,255,255,0.8);
box-shadow: 0 0 15px rgba(0,0,0,0.2);
bordeR-radius: 5px;
}

.info h4{
  margin: 0 0 5px;
  color: #777;
}